body {
  font-size: 15pt;
  display: block;
}

#d {
  height: auto;
  width: auto;
  border: 2px dotted;
}

#d1 {
  height: auto;
  width: auto;
  border: 2px dotted;
}

#d2 {
  height: auto;
  width: auto;
  border: 2px dotted;
}

#d3 {
  height: auto;
  width: auto;
  border: 2px dotted;
}

#d4 {
  height: auto;
  width: auto;
  border: 2px dotted;
}
#d5 {
  height: auto;
  width: auto;
  border: 2px dotted;
}
